<main class="container my-5">
    <h2 class="text-center display-5 fw-bold">Edit <%= campground.title %> </h2>

    <form action="/campgrounds/<%=campground.id%>?_method=PUT" method="POST" novalidate class="new-form validated-form">
        <div class="my-3">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" name="campground[title]" required id="title" value="<%=campground.title%>">
        </div>
        <div class="my-3">
            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" name="campground[location]" required id="location" value="<%=campground.location%>">
        </div>
        <div class="my-3">
            <label class="form-label" for="image">Image URL</label>
            <input class="form-control" required type="text" required value="<%=campground.image%>" name="campground[image]" id="image" placeholder="Enter Image Url here">
        </div>
        <div class="my-3">
            <label class="form-label" for="price">Price</label>
            <div class="input-group">
                <span class="input-group-text" id="price">&dollar;</span>
                <input class="form-control" required type="text" required value="<%=campground.price%>" name="campground[price]" id="price" placeholder="0.00">
            </div>
        </div>
        <div class="my-3">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" name="campground[description]" required id="description" placeholder="Describe about your campground...." cols="30" rows="5"><%=campground.description%></textarea>
        </div>
        <br>
        <button class="btn btn-success">Update Campground</button>
    </form>
    <br>
    <a href="/campgrounds/<%=campground.id%>" class="btn btn-dark">Back</a>
</main>